<div class="text-center">
  <form action="answer" data-turbo="false">
    <div class="form-group">
      <h1>Stupid Coaching</h1>
      <p>Ask your coach anything</p>
      <div class="row d-flex justify-content-center">
        <input type="text" name="question" style="width: 300px" class="form-control" id="exampleInputEmail1" placeholder="Write to your coach!">
      </div>
      <input class="btn btn-primary" type="submit" value="Ask!" style="width:100px">
    </div>
  </form>
</div>
